<!DOCTYPE html>
<html>
<head>
  <title>GraphenoShoppe</title>
  <%= stylesheet_link_tag    "grapheno_shoppe/application", media: "all" %>
  <%= javascript_include_tag "grapheno_shoppe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
